# In Depth A/B Testing - Lab

## Introduction

In this lab, you'll explore a survey from Kaggle regarding budding data scientists. With this, you'll form some initial hypotheses, and test them using the tools you've acquired to date. 

## Objectives

You will be able to:
* Conduct statistical tests on a real-world dataset

## Load the Dataset and Perform a Brief Exploration

The data is stored in a file called **multipleChoiceResponses_cleaned.csv**. Feel free to check out the original dataset referenced at the bottom of this lab, although this cleaned version will undoubtedly be easier to work with. Additionally, meta-data regarding the questions is stored in a file name **schema.csv**. Load in the data itself as a Pandas DataFrame, and take a moment to briefly get acquainted with it.

> Note: If you can't get the file to load properly, try changing the encoding format as in `encoding='latin1'`

In [4]:
#Your code here
import pandas as pd
data = pd.read_csv('multipleChoiceResponses_cleaned.csv', encoding='latin1')
data.head()

/opt/conda/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,GenderSelect,Country,Age,EmploymentStatus,StudentStatus,LearningDataScience,CodeWriter,CareerSwitcher,CurrentJobTitleSelect,TitleFit,...,JobFactorTitle,JobFactorCompanyFunding,JobFactorImpact,JobFactorRemote,JobFactorIndustry,JobFactorLeaderReputation,JobFactorDiversity,JobFactorPublishingOpportunity,exchangeRate,AdjustedCompensation
0,"Non-binary, genderqueer, or gender non-conforming",NaN,NaN,Employed full-time,NaN,NaN,Yes,NaN,DBA/Database Engineer,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Female,United States,30.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Somewhat important,NaN,NaN,NaN,NaN
2,Male,Canada,28.0,"Not employed, but looking for work",NaN,NaN,NaN,NaN,NaN,NaN,...,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,Very Important,NaN,NaN
3,Male,United States,56.0,"Independent contractor, freelancer, or self-em...",NaN,NaN,Yes,NaN,Operations Research Practitioner,Poorly,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,250000.0
4,Male,Taiwan,38.0,Employed full-time,NaN,NaN,Yes,NaN,Computer Scientist,Fine,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
schema = pd.read_csv('schema.csv')

In [13]:
schema.head()

             Column                                           Question Asked
0      GenderSelect     Select your gender identity. - Selected Choice   All
1    GenderFreeForm  Select your gender identity. - A different ide...   All
2           Country          Select the country you currently live in.   All
3               Age                                   What's your age?   All
4  EmploymentStatus             What's your current employment status?   All

## Wages and Education

You've been asked to determine whether education is impactful to salary. Develop a hypothesis test to compare the salaries of those with Master's degrees to those with Bachelor's degrees. Are the two statistically different according to your results?

> Note: The relevant features are stored in the 'FormalEducation' and 'AdjustedCompensation' features.

In [ ]:
'''Hypothesis
H0= masters and bachelors have same mean salary
H1 = masters has higher mean salary than bachelors''

In [37]:
#Your code here
edu_vs_salary = data[['FormalEducation','AdjustedCompensation']]

In [38]:
edu_vs_salary

                                         FormalEducation  AdjustedCompensation
0                                      Bachelor's degree                   NaN
1                                        Master's degree                   NaN
2                                        Master's degree                   NaN
3                                        Master's degree            250000.000
4                                        Doctoral degree                   NaN
5                                        Doctoral degree                   NaN
6                                        Master's degree                   NaN
7                                      Bachelor's degree                   NaN
8                                      Bachelor's degree             64184.800
9                                      Bachelor's degree             20882.400
10                                     Bachelor's degree                   NaN
11                                     Bachelor's degree              1483.900
12                                       Doctoral degree                   NaN
13                                                   NaN                   NaN
14                                       Master's degree             36634.400
15                                       Master's degree                   NaN
16                                                   NaN                   NaN
17                                                   NaN                   NaN
18                                     Bachelor's degree                   NaN
19                                       Master's degree                   NaN
20                                       Master's degree                   NaN
21                                     Bachelor's degree             20000.000
22                                       Doctoral degree            100000.000
23     Some college/university study without earning ...               916.400
24                                       Master's degree                   NaN
25                                     Bachelor's degree             10858.848
26                                       Master's degree                   NaN
27                                       Master's degree             53352.000
28     I did not complete any formal education past h...            179373.900
29                                       Master's degree                   NaN
...                                                  ...                   ...
26364                                    Master's degree                   NaN
26365                                  Bachelor's degree                   NaN
26366  Some college/university study without earning ...                   NaN
26367                                  Bachelor's degree                   NaN
26368                                    Master's degree                   NaN
26369  Some college/university study without earning ...                   NaN
26370                                  Bachelor's degree                   NaN
26371                                    Master's degree                   NaN
26372                                    Master's degree                   NaN
26373                                    Master's degree                   NaN
26374                                    Master's degree                   NaN
26375                                    Master's degree                   NaN
26376                                    Master's degree                   NaN
26377                                                NaN                   NaN
26378                                    Master's degree             10000.000
26379                                  Bachelor's degree                   NaN
26380                                  Bachelor's degree                   NaN
26381                                  Bachelor's degree                   NaN
26382                                    Master's degree                   NaN
26383                                  Bachelor's degree                   NaN
26384                                  Bachelor's degree                   NaN
26385                                                NaN                   NaN
26386                                                NaN                   NaN
26387                                    Master's degree                   NaN
26388                                  Bachelor's degree                   NaN
26389                                    Master's degree                   NaN
26390                                  Bachelor's degree                   NaN
26391                                                NaN                   NaN
26392                             I prefer not to answer                   NaN
26393  I did not complete any formal education past h...                   NaN

[26394 rows x 2 columns]

In [36]:
edu.value_counts()

Master's degree                                                      8204
Bachelor's degree                                                    4811
Doctoral degree                                                      3543
Some college/university study without earning a bachelor's degree     786
Professional degree                                                   451
I did not complete any formal education past high school              257
I prefer not to answer                                                 90
Name: FormalEducation, dtype: int64

## Wages and Education II

Now perform a similar statistical test comparing the AdjustedCompensation of those with Bachelor's degrees and those with Doctorates. If you haven't already, be sure to explore the distribution of the AdjustedCompensation feature for any anomalies.

In [11]:
#Your code here

Median Values:
s1:74131.92
s2:38399.4
Sample sizes:
s1: 967
s2: 1107
Welch's t-test p-value: 0.1568238199472023


Repeated Test with Ouliers Removed:
Sample sizes:
s1: 964
s2: 1103
Welch's t-test p-value with outliers removed: 0.0

## Wages and Education III

Remember the multiple comparisons problem; rather than continuing on like this, perform an ANOVA test between the various 'FormalEducation' categories and their relation to 'AdjustedCompensation'.

In [ ]:
#Your code here

## Additional Resources

Here's the original source where the data was taken from:  
    [Kaggle Machine Learning & Data Science Survey 2017](https://www.kaggle.com/kaggle/kaggle-survey-2017)

## Summary

In this lab, you practiced conducting actual hypothesis tests on actual data. From this, you saw how dependent results can be on the initial problem formulation, including preprocessing!